
$font: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;";
$test-color: gray;
$margin: auto;
$height: 100px;
$color-sec:  #81D4FA;
$color-prim: whitesmoke;

@mixin font-sec {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: black;
}

@mixin font-primary {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;
}
@mixin flex-desktop {
    display: flex;
    justify-content: center;
    margin: auto
}
@mixin flex-item {
    display: flex;
    flex: 1;
    
}

html {
    scroll-behavior: smooth;
}

body {
    
    @include font-primary();
    background-color: $color-prim;
    
}

  @-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  
    40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
    }
  }
  
  @keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  
    40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  
.wrapper  {
    @include flex-desktop;
    max-width: 1040px;
    flex:1;
    &__section {
    flex-direction: column;
    }
    &__pf {
    flex-wrap: wrap;
    }
}
.header {
    @include flex-item;
        &__img {
            max-height: 15em;
            border-radius: 50%;
            border-color: #79C4FF; 
            border-style: solid;
            border-width: 4px;
            max-width: 100%;
            margin: 0.3em 0.3em 0.3em 0.3em;
        }
        
        &__h1 {
            text-align: center;
            margin: 1.3em 0em 0em 0em;
            text-transform: uppercase;
            flex-grow:1;
            @include font-sec;
            text-transform: uppercase;
        }

        &__h2 {
            text-transform: uppercase;
        }

}

.nav {
    background-color: $color-sec;
    color: $color-prim;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2em;  
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.4);
}

.section {
    background-color: $test-color;
    height: auto;
    &__h2 {
        text-align: center;
    }
    &__p {
        padding: 0em, 0em, 0em, 0em;
    }
}

.pf {
    border:1px solid black;
    height: 350px;
    width:400px;
    background-color: whitesmoke;
    box-shadow: 0 10px 6px -6px #777;
    margin: 1em;
    &__h2 {
        font-weight: 500;
        @include font-sec;
        text-align: center;
    }
    &__img  {
            display: block;
            margin: 0.7em 0.7em 0.7em;
    }

}
.footer {
    background-color: lightgrey;
}