
$font: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;";
$test-color: gray;
$margin: auto;
$height: 100px;
$color-sec:  #81D4FA;
$color-prim: white;

@mixin font-sec {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: black;
}

@mixin font-primary {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;
}
@mixin flex-desktop {
    display: flex;
    justify-content: center;
    margin: auto
}
@mixin flex-item {
    display: flex;
    flex: 1;
    
}

html {
    scroll-behavior: smooth;
}

body {
    
    @include font-primary();
    background-color: lightyellow;
    
}
.wrapper  {
    @include flex-desktop;
    max-width: 1040px;
    flex:1;
    &__section {
    flex-direction: column;
    }
}
.header {
    @include flex-item;
        &__img {
            max-height: 15em;
            border-radius: 50%;
            border-color: #79C4FF; 
            border-style: solid;
            border-width: 4px;
            max-width: 100%;
            margin: 0.3em 0.3em 0.3em 0.3em;
        }
        &__h1 {
            text-align: center;
            margin: 1.3em 0em 0em 0em;
            text-transform: uppercase;
            flex-grow:1;
            @include font-sec;
            text-transform: uppercase;
        }
        &__h2 {
            text-transform: uppercase;
        }

}

.nav {
    background-color: $color-sec;
    color: $color-prim;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2em;  
}

.section {
    background-color: $test-color;
    height: auto;
    &__h2 {
        text-align: center;
    }
    &__p {
        padding: 0em, 0em, 0em, 0em;
    }
}

.footer {
    background-color: lightgrey;
}