/* resetting default browser css rules */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a img{border:none;}
$font: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;";
$margin: auto;
$height: 100px;
$color-sec:  #81D4FA;
$color-ter: #129680;
$darker-color-sec: darken( $color-ter, 5% );
$color-prim: white;

@mixin font-sec {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: black;
}

@mixin font-primary {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;
    line-height: 21px;
}

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
 
    40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
    }
  }
  
  @keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  
    40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
    }
  }
   
html {
    scroll-behavior: smooth;
}

body {
    @include font-primary;
}

.wrapper  {
    max-width: 1000px;
    margin: auto;
    display: flex;
    &__pf {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__section {
        display: flex;
    }
}

.left-column {
    flex-basis: 33%;
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    /*justify-content:center; */
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

.nav label, #hamburger {
    display: none;
  }
  
.nav {
    text-align:center;
    line-height: 1;
    position: sticky;
    top: 40px;

/*    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.4); */
    &__h1 {
        line-height:1.2;
        font-size: 2em;
        font-weight: 100;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        color: $color-prim;
    }
    &__h2 {
        text-transform: capitalize;
        font-size: 1.3em;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        color: $color-prim;
    }
    & > ul {
        list-style-type: none;
        padding: 0;
        & > li {
            width: auto;
            text-align: center;
            display: block;
            margin-top: 0.2em
        }
        & > li > a {
            text-decoration: none;
            text-transform: uppercase;
            padding: 0.4em 0.2em 0.4em 0.2em;
            font-weight: bold;
            font-size:1.2em;
            display:block;
            color:$color-prim;
            &:hover {
                background-color: $color-ter;
            }          
        }
    }
}
        
.image {
    border-radius: 50%;
    border-color: $darker-color-sec;
    border-style: solid;
    border-width: 4px;
    height: 200px;
    max-width: 100%;
    margin-top: 1.5em;
    margin-bottom:2.8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icon-right {
    color: $color-ter;
}

/* styles for right column */
.content {
   padding-left: 2em;
   padding-right: 2em;
   flex-basis: 66%;
   min-height:100vh;
   display: flex;
   flex-direction: column;
   justify-content:center;
}

hr {
    height:1px; 
    border:none;
    color: $color-ter; 
    background-color: $color-ter; 
    width: 100%; 
}

section {
margin-top: 3em;
margin-bottom: 1em;
}
.section {
    &__left {
        flex-basis: 30%;
    }
    &__right {
        flex-basis: 70%;
    }
}
.section__h2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
   /* margin: 0.83em 0em; */
}

h3 {
    margin: 1.16em 0em 0em 0em;
    text-transform: uppercase;
}


p {
    margin:0.4em 0;
    font-size: 0.9em;
}

.right-content__p {
    font-size: 0.8em;
}
ul  {
    margin: 1em 0em;
}

li {  
    list-style: none; 
      
}

ul.n-item {
    margin-top: 0.4em;
}

ul.n-item li::before {
    color: $color-ter;   
    content: "\2022"; 
    margin-right:0.4em;
    font-size: 1.8em;
    
}

.fa-bullseye {
    font-size: 1em;
    color: $color-ter;
    margin-right:0.6em;
}

.place {
    margin-left: 1.5em;
}

.refs {
    display: flex;
    & > div {
        flex-basis: 50%;
    }
}

.hobbies {
    display: flex;
    justify-content: space-between;
    text-align:center;
}

/* portfolio css */
.pf {
    border:1px solid black;
    width: 277px;
    background-color: whitesmoke;
    box-shadow: 0 10px 6px -6px #777;
    margin: 1em;
    transition: 0.4s;
    &:hover {
        transform: scale(1.15); 
    }
    &__h3 {
        font-weight: 500;
        @include font-sec;
        text-align: center;
    }
    &__img  {
            display: block;
            margin: 0.7em 0.7em 0.7em;
    }

}

/* Adding media queries for responsive */

@media screen and (max-width: 920px) {

    /* Setting flex for responsive*/
    .wrapper {
    display: flex;
    flex-direction: column;
    &__section {
    display:block;
        }
    }
    .left-column {
       min-height: 1px;
       position: sticky;
       top: 0;
       background-image: none;
    }
    .section__right {
       margin-bottom: 0.5em;
    }
    li > br {
        display: none;
      }
    ul {
        margin: 0.5em 0em;
        padding-left: 0em;
    }

    .content {
        margin-right: auto;
    }

    h3 {
        margin: 0em 0em 0em 0em;
        text-transform: uppercase;
    }

    .image {
        border-radius: 50%;
        border-color: $darker-color-sec;
        border-style: solid;
        border-width: 1px;
        height: 2em;
        max-width: 100%;
        margin: 0.2em 0.2em 0.2em 0.2em;
        display:block;
        float: left;
    }

    /* set hiding ul fas icons, pseudo bullets and name section */
   .fa-bullseye, .name-desktop, ul.n-item li::before   {
        display:none;
    } 

  .nav {
    position: sticky;
    top: 0;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.4); 
    margin-right: none;
    background-color: white;
    height: 2.6em;
    & br {
        display:none;
    }
    &__h1 {
        font-size: 1em;
        font-weight: 100;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $color-ter;
        text-transform: uppercase;
        display:inline-block;
        vertical-align: middle;
        line-height: 2.6em;
    }
    &__h2 {
        display:none;
        text-transform: capitalize;
        font-size: 1.3em;
        font-family: Arial, Helvetica, sans-serif;
    }
    & label {
        display: block;
        color: #fff;
        background:$darker-color-sec;
        font-style: normal;
        font-size: 1.2em;
        padding: 11px;
        float: right;
        }
    & > ul {
        list-style-type: none;
        display: none;
        padding: 0;
        & > li {
            width: 100%;
            display: block;
            text-align: center;
            display: block;
        }
        & > li > a {
            text-decoration: none;
            font-size:1.3em;
            display:block;
            color:black;
            &:hover {
            background-color:$color-ter;           }          
        }
    }
}
.nav input:checked ~ ul {
    display: block;
  }

.nav ul {
    display: none;
    background-color: white;
  }
}


/* portfolio, choose images, add text */
/* animation to menu */
/* check ipad version */
/* check nav bar on ipad */