html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a img{border:none;}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 21px;
}

.container  {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
}

/* styles for the left column */
.left-col {
    background-color: #81D4FA;
}

.name-mobile {
    display:none;
}

a {
    color: black;
    text-decoration: none
}

h2.left-column {
    text-align: center;
    background-color: #263238;
    color: #81D4FA;
    font-size: 1.2em;
    padding: 0.23em 0em 0.23em 0em;
}
#Photo {
    padding: 1.5em 1.5em 1.5em 1.5em;
}

.image {
    border-radius: 50%;
    border-color: #79C4FF; /* changing color */
    border-style: solid;
    border-width: 4px;
    height: 200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icon-left {
    border-width:1px;
    border-style: solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    margin: 1em 0.2em 1em;
}

.icon-right {
    color: #81D4FA;
}

.left-p {
    padding: 1.5em 1.5em 1.5em 1.5em;
    text-align: justify;
    font-size: 0.9em;
    
}

#About {
    height: 33em;
} 
#Hobbies {
    text-align: center;
}

.hobbies-icons {
    padding-top: 0.3em;
}

/* styles for right column */
.right-col {
   padding-left: 2em;
   padding-right: 2em;
}

.right-content {
    display: grid;
    grid-template-columns: 10em 27em;
    gap: 0em 3em;
}

.name {
    margin: 6em 0em 6em 0em;
}

hr {
    color: #81D4FA;
    height:1px; 
    border:none;
    color:#81D4FA; 
    background-color:#81D4FA; 
    width: 100%;

}

.first-name {
    color: #81D4FA;
}

hr.name-hr {
    text-align:left;
    width:10%;
    display: inline-block;
}

h1 {
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    margin: 1.3em 0em 0em 0em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0.83em 0em;
}

h3 {
    margin: 1.16em 0em;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job-title {
    text-transform: capitalize;
    font-size: 1.3em;
    margin-bottom: 0em;
    
}

p {
    margin:1em 0;
    font-size: 0.9em;
}

ul  {
    margin: 1em 0em;
}

li {  
    list-style: none; 
      
}

ul.n-item {
    margin-top: 0.4em;
}

ul.n-item li::before {
    color: #81D4FA;   
    content: "\2022"; 
    margin-right:0.4em;
    font-size: 1.8em;
    
}

.fa-bullseye {
    font-size: 1em;
    color: #81D4FA;
    margin-right:0.6em;
}

.place {
    margin-left: 1.5em;
}

.references {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

/* Adding media queries for responsive */
@media screen and (max-width: 920px) {

    /* Setting flex for responsive*/
    .container, .right-content, .name-mobile {
    display: flex;
    flex-direction: column;
    }
    
    /* Avoid h1 overlap on mobiles */
    h1 {
        line-height: 1;
    }

    /* Centering elements */
    h1, .job-title, #title {
        text-align: center;
    }

    /* setting margins for date, place and right content*/
    .place {
        margin-left: 0em;
    }

    ul {
        margin: 0.5em 0em;
        padding-left: 0em;
    }

    .right-col {
        margin-right: 2em;
        }

    /* set hiding ul fas icons, pseudo bullets and name section */
   .fa-bullseye, .name-desktop, ul.n-item li::before   {
        display:none;
    }  

    /* set height for About section */ 
    #About {
        height: auto;
    }
}